* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
    background: #f3f9fa url("img/bg.png") repeat;
    font: 14px/22px Arial;
    color: #444;
}

#wrap {
	background-color: white;
	min-height: 100%;
	position: relative;
	min-width: 980px;
}

/*Шапка*/
#header {
    height: 148px;
    background: white url("img/bg-header.jpg") left top no-repeat;
}
.logo {
    margin-top: 51px;
    float: left;
}
.contacts {
    float: right;
    text-align: right;
    margin-top: 25px;
}
.contacts p {
    font: bold 18px/14px Arial;
    color: black;
}
.green {
    color: #1d8b15;
}

.gray {
    color: #666;
}
#header .contacts p .green {
    font-size: 14px;
    font-weight: normal;
}

#header .contacts p .gray {
    font-size: 12px;
    font-weight: normal;
}



#content {
	padding-bottom: 50px;
	overflow: hidden;
}

a {
    color: #0083df;
}

a:hover {
    text-decoration: none;
}

h1 {
    font: normal 26px/26px Arial;
    margin-bottom: 20px;
}

h2 {
    font: normal 22px/22px Arial;
    margin-bottom: 20px;
}

h1,h2,h3 {
    color: black;
}

p {
    margin-bottom: 15px;
}
/*Левая колонка*/
#leftcol {
	width: 20%;
	float: left;
}

#main {
	overflow: hidden;
}

/*Подвал*/
#footer {
	height: 50px;
	background-color: #ddd;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.content {
	padding: 15px;
}